<div class="container mt-5">
    <div class="row justify-content-center ">
        <div class="col-lg-6 col-md-8">
            <p class="d-block ">WE STARTED WITH A SIMPLE IDEA.</p>
            <h2>COMPANY <span style="color: #4723d9;">OVERVIEW</span></h2>
    
            <p>Express Courier Link is highly professional skilled & reliable Courier Service Provider Company which has been classified for courier delivery service for any destination in Pakistan and abroad. Our Organization is not only one of the biggest, but also one of the most trusted in Pakistan.</p>
            <p>ECL has been providing excellent courier services since 1992. Head office Based in Karachi with regional offices Lahore and Islamabad.</p>
            <p>EXPRESS COURIER LINK – Offering (Overnight-Overland-COD SERVICES) our Presence 300 Locations in Pakistan & Overseas – UAE, Saudi Arabia, Bangladesh, Sri Lanka, Hong Kong, Singapore, China.</p>
            <p><span style="color: #4723d9;">Our Motto:</span>Reliability is Our Strength</p>
            <p class="fst-italic p-2" style="background-color: #eeeeee; border-left:6px solid #ECCF42;">Our Mission: Express Courier Link is committed to provide excellent Courier Services to its customers 24/7 with reasonable rates on a consistent basis. We enable our customers to prosper by delivering their shipments on time in a professional manner. We will continuously challenge ourselves to exceed our customers’ expectations by providing leading edge solutions to their needs.</p>
        </div>
        <div class="col-lg-6 col-md-4 mt-4 ">
            <div class="d-flex justify-content-center align-items-center ">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW2KHDk9egMNKGKmIgfmEVBFyelKzugvHHc792RdTCufyBLmkqY0N7eOjQPOO0hSnAKN4&usqp=CAU" class="image" alt="">
            </div>
            <p class="fst-italic p-2" style="background-color: #eeeeee; border-left:6px solid #ECCF42;">Our Vision: To be the Courier & Logistics leader service provider in Pakistan.</p>    
        </div>
    </div>
    
    
</div>
