<!-- <div class="mat-elevation-z8 mb-5">
    <p style="background-color: #5236c2; font-weight: 600;" class="text-white pt-2 px-3 pb-1 fs-5 rounded-top">Customer</p>
    <button class="btn mx-3 text-white " style="background-color: #5236c2;" (click)="openDialog()">Create</button>
    <div *ngIf="IsLoading" class="d-flex justify-content-around align-items-center" style="height: 250px;">
      <app-loader></app-loader>
    </div>



    <div class="d-flex justify-content-center flex-column align-items-center " *ngIf="dataCustomer && dataCustomer.data.length===0 && !IsLoading">
      <img class="w-25 h-25 " src="assets/nodata.jpg">
      <h5>No Data Found</h5>
    </div>


    <table *ngIf="!IsLoading && dataCustomer.data.length!==0" mat-table [dataSource]="dataCustomer">
        
      <ng-container matColumnDef="No.">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let elementl let i= index"> {{i+1}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.vendorName}} </td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.vendorEmail}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.vendorAddress}} </td>
      </ng-container>


      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-primary w-100" (click)="editCustomer(element.vendorId)">Edit</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-danger w-100" (click)="deleteCustomer(element.vendorId)">Delete</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

   -->


   <button (click)="openDialog()" *ngIf="!IsLoading" class="btn btn-secondary mt-3 d-flex justify-content-center align-items-center gap-1"> <mat-icon>supervisor_account</mat-icon> Create</button>
   
   <div *ngIf="IsLoading" class="d-flex justify-content-around align-items-center" style="height: 250px;">
    <app-loader></app-loader>
  </div>
   <div class="card mt-3" *ngIf="!IsLoading">
    
    <p-table [value]="dataCustomer" (sortFunction)="customSort($event)" [customSort]="true" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="width:20%">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="email" style="width:20%">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="address" style="width:20%">Address <p-sortIcon field="address"></p-sortIcon></th>
                <th  style="width:20%">Edit</th>
                <th style="width:20%">Delete</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.vendorName}}</td>
                <td>{{item.vendorEmail}}</td>
                <td>{{item.vendorAddress}}</td>
                <td><button class="btn btn-primary d-flex justify-content-center align-content-center " (click)="editCustomer(item.vendorId)"><mat-icon>edit</mat-icon></button></td>
                <td><button class="btn btn-danger d-flex justify-content-center align-content-center " (click)="deleteCustomer(item.vendorId)"><mat-icon>delete</mat-icon></button></td>
            </tr>
        </ng-template>
    </p-table>
</div>