<!-- 
    <div class="d-flex justify-content-between p-4 pb-2" style="background-color: #5236c2;">
        <h3 class="text-white ">Create Customer</h3>
        <button>
            <mat-icon class="text-white">close</mat-icon>
        </button>
      
    </div>
    <form class="p-4" [formGroup]="createCustomerForm"  (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label  class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="Name">
          <span class="text-danger" *ngIf="createCustomerForm.get('Name').hasError('required') && createCustomerForm.get('Name').touched">Name is required</span>
        </div>

        <div class="mb-3">
          <label class="form-label">User Name</label>
          <input type="text" class="form-control"  formControlName="UserName">
          <span class="text-danger " *ngIf="createCustomerForm.get('UserName').hasError('required') && createCustomerForm.get('UserName').touched">User Name is required</span>
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email">
          <span class="text-danger " *ngIf="createCustomerForm.get('email').hasError('required') && createCustomerForm.get('email').touched">Email is required</span>
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="text" class="form-control" formControlName="Password">
          <span class="text-danger " *ngIf="createCustomerForm.get('Password').hasError('required') && createCustomerForm.get('Password').touched">Password is required</span>
        </div> -->

        <!-- <div class="mb-3">
          <label class="form-label">Phone Number</label>
          <div class="input-group" >
            <input type="tel" #phoneInput>
          </div>
          <span class="text-danger " *ngIf="createCustomerForm.get('PhoneNumber').hasError('required') && createCustomerForm.get('PhoneNumber').touched">Phone Number is required</span>
        </div> -->

        <!-- <div class="mb-3">
          <label class="form-label">Phone Number</label>
          <input type="number" class="form-control" formControlName="PhoneNumber">
          <span class="text-danger" *ngIf="createCustomerForm.get('PhoneNumber').hasError('required') && createCustomerForm.get('PhoneNumber').touched">Phone Number is required</span>
        </div>


        <div class="mb-3">
          <label class="form-label">Address</label>
          <input type="text" class="form-control" formControlName="VendorAddress">
          <span class="text-danger " *ngIf="createCustomerForm.get('VendorAddress').hasError('required') && createCustomerForm.get('VendorAddress').touched">Address is required</span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="IsLoading || createCustomerForm.invalid">
                <span *ngIf="IsLoading" class="spinner-border spinner-border-sm mx-2" role="status" aria-hidden="true"></span>
                <span>{{IsLoading? "Loading...": "Submit"}}</span>
            </button>
        </div>
      </form> -->


      <!-- <div class="d-flex justify-content-between p-4 pb-2">
        <h3 class="">Create Customer</h3>
        <button class="btn">
            <mat-icon class="" >close</mat-icon>
        </button>
      </div> -->
      <div >
        <form id="scroll" class="p-4" [formGroup]="createCustomerForm"  (ngSubmit)="PostCustomer()">
          <div class="mb-3">
            <label  class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="VendorName">
            <span class="text-danger" *ngIf="createCustomerForm.get('VendorName').hasError('required') && createCustomerForm.get('VendorName').touched">Name is required</span>
          </div>
  
          <div class="mb-3">
            <label class="form-label">User Name</label>
            <input type="text" class="form-control"  formControlName="UserName">
            <span class="text-danger " *ngIf="createCustomerForm.get('UserName').hasError('required') && createCustomerForm.get('UserName').touched">User Name is required</span>
          </div>
  
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="VendorEmail">
            <span class="text-danger " *ngIf="createCustomerForm.get('VendorEmail').hasError('required') && createCustomerForm.get('VendorEmail').touched">Email is required</span>
          </div>
  
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="text" class="form-control" formControlName="Password">
            <span class="text-danger " *ngIf="createCustomerForm.get('Password').hasError('required') && createCustomerForm.get('Password').touched">Password is required</span>
          </div>
  
          <!-- <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <div class="input-group" >
              <input type="tel" #phoneInput>
            </div>
            <span class="text-danger " *ngIf="createCustomerForm.get('PhoneNumber').hasError('required') && createCustomerForm.get('PhoneNumber').touched">Phone Number is required</span>
          </div> -->
  
           <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input type="text" class="form-control" formControlName="PhoneNumber">
            <span class="text-danger" *ngIf="createCustomerForm.get('PhoneNumber').hasError('required') && createCustomerForm.get('PhoneNumber').touched">Phone Number is required</span>
          </div>
  
  
          <div class="mb-3">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" formControlName="VendorAddress">
            <span class="text-danger " *ngIf="createCustomerForm.get('VendorAddress').hasError('required') && createCustomerForm.get('VendorAddress').touched">Address is required</span>
          </div>
          <div>
              <button type="submit" class="btn btn-primary w-100" [disabled]="IsLoading || createCustomerForm.invalid">
                  <span *ngIf="IsLoading" class="spinner-border spinner-border-sm mx-2" role="status" aria-hidden="true"></span>
                  <span>{{IsLoading? "Loading...": "Submit"}}</span>
              </button>
          </div>
        </form>
  
        
      </div>
