.login,
.image {
  height: calc(100vh - 60px);
}

.bg-image {
  background-image: url('https://images.prismic.io/getcircuit/c24b0a5c-3f5c-47cd-aaff-598b36edcf58_Header+%2857%29.jpg?auto=compress%2Cformat&w=3840&fit=max&q=75');
  background-size: cover;
  background-position: center center;
}