.carousel-item{
    transition: transform .5s ease, opacity .5s ease-out
}

.hover-card:hover{
    background-color: #4723d9;
    color: white;
    transition: all ease 0.3s;
}


#scrollBarEffect::-webkit-scrollbar {
    width: 2px;
    height: 5px;
}

#scrollBarEffect::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#scrollBarEffect::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 15px;
}