<nav class="navbar navbar-expand-lg justify-content-between" style="background-color: #4723d9; min-height: 60px;" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/adminlogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      CMS
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex justify-content-lg-between " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        <a class="nav-link" routerLink="about-us">About Us</a>
        <a class="nav-link" routerLink="services">Services</a>
      </div>
      <div class="navbar-nav">
        <a routerLink="/login" class="nav-link text-white fs-5 fw-bold nav-login" style="font-family:Arial, Helvetica, sans-serif">Login</a>
      </div>
    </div>

    

  </div>
</nav>
