<div  class="container mt-5">
    <div class="text-center d-flex flex-column align-items-center ">
        <h1 class="fw-bolder ">Over a Decade of Industry Experience with
            Certified Professionals</h1>
        <p class="text-secondary">Our services are extended to every digital category that can help you create a brand online. We work with the aim of providing you the best quality services and making your brand a success for great recognition.</p>
    </div>
    <div #counterElement class="d-flex row justify-content-around  ">
        <div class="text-center col-lg-3 col-md-2">
            <h1 class="display-3" style="color: #4723d9;">{{satisfiedCustomers}}</h1>
             <p class="fw-bold ">SATISFIED CUSTOMERS</p>
        </div>
        <div  class="text-center col-lg-3 col-md-2">
            <h1 class="display-3" style="color: #4723d9;">{{projectLaunched}}</h1>
             <p class="fw-bold ">PROJECT LAUNCHED</p>
        </div>
        <div  class="text-center col-lg-3 col-md-2"> 
            <h1 class="display-3" style="color: #4723d9;">{{projectCompleted}}</h1>
             <p class="fw-bold ">PROJECT COMPLETED</p>
        </div>
        <div  class="text-center col-lg-3 col-md-2">
            <h1 class="display-3" style="color: #4723d9;">{{dailyvisits}}</h1>
             <p class="fw-bold ">DAILY VISITS</p>
        </div>
    </div>
</div> 