<div *ngIf="IsLoadingUpdate" class="d-flex justify-content-around align-items-center" style="height: 350px;">
  <app-loader></app-loader>
</div>
<div *ngIf="!IsLoadingUpdate" style="height: 350px;" id="scroll">
  <form [formGroup]="UpdateCourierForm" (ngSubmit)="OnUpdate()">
    <div class="mb-3">
      <label for="" class="form-label">Courier Name</label>
      <input type="text" class="form-control" formControlName="Name">
      <small *ngIf="UpdateCourierForm.get('Name').hasError('required') && UpdateCourierForm.get('Name').touched"
        class="text-danger">Name is required</small>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">User Name</label>
      <input type="text" class="form-control" formControlName="userName">
      <small *ngIf="UpdateCourierForm.get('userName').hasError('required') && UpdateCourierForm.get('userName').touched"
        class="text-danger ">User Name is required</small>
    </div>

    <div class="mb-3">
      <label for="" class="form-label">Email</label>
      <input autocomplete="off" type="email" class="form-control" formControlName="email">
    </div>

    <div class="mb-3">
      <label for="routeId" class="form-label">Select Route</label>
      <select class="form-select form-select" formControlName="routeId">
        <option *ngFor="let item of dataRoute" [value]="item.routeId">{{item.routeName}}</option>
      </select>   
      <small *ngIf="UpdateCourierForm.get('routeId').hasError('required') && UpdateCourierForm.get('routeId').touched" class="text-danger ">Route is required</small>
    </div>

    <div>
      <button style="width: 100%;" type="submit" class="btn btn-primary"
        [disabled]="UpdateCourierForm.invalid || IsLoading">
        <span *ngIf="IsLoading" class="spinner-border spinner-border-sm mx-2" role="status" aria-hidden="true"></span>
        <span>{{IsLoading ? "Loading..": "Submit"}}</span>
      </button>
    </div>
  </form>

</div>