<section>
  <div class="card">
    <div class="card-header text-white" style="background-color: #5236c2;">
      Manage Users
    </div>
    <div class="card-body">
      <!-- <table datatable [dtOptions]="dtoptions" class="table table-bordered"> -->
      <button style="background-color: #5236c2;" class="btn text-white mb-2" (click)="openAddCourier()">Create</button>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataCourier">
      
          <!-- Position Column -->
          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.courierName}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="RouteId">
            <th mat-header-cell *matHeaderCellDef> RouteId </th>
            <td mat-cell *matCellDef="let element"> {{element.routeId}} </td>
          </ng-container>
      
          <!-- Symbol Column -->

      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
      
    </div>
  </div>
</section>