<section>
    <div class="card">
        <div class="card-header text-white" style="background-color: #5236c2;">
          Manage Users
        </div>
        <div class="card-body">
            <!-- <table datatable [dtOptions]="dtoptions" class="table table-bordered"> -->
                <button style="background-color: #5236c2;" class="btn text-white mb-2" (click)="openAddCourier()">Create</button>
            <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" class="table table-bordered">
                <thead class="bg-dark text-white">
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Route ID</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataCourier">
                      <td>{{item.courierId}}</td>
                      <td>{{item.courierName}}</td>
                      <td>{{item.routeId}}</td>
                    </tr>
                </tbody>
              </table>

        </div>
      </div>
</section>