<!-- <section>
  <div class="card">
    <div class="card-header text-white" style="background-color: #5236c2;">
      Manage Courier
    </div>
    <div class="card-body  mat-elevation-z8 card-body overflow-auto">
      <div class="d-flex justify-content-between  mb-2">
        <button style="background-color: #5236c2;" class="btn text-white" (click)="openAddCourier()">Create</button>
        <button (click)="openRoute()" style="background-color: #5236c2;display: flex;align-items: center;gap: 5px;"
          class="btn text-white"><mat-icon class="text-white fs-5 d-flex align-items-center justify-content-center">route</mat-icon>Route</button>
      </div>

      <div *ngIf="IsLoading" class="d-flex justify-content-around align-items-center" style="height: 250px;">
        <app-loader></app-loader>
      </div>

      <div class="d-flex justify-content-center flex-column align-items-center " *ngIf="dataCourier && dataCourier.data.length===0 && !IsLoading">
        <img class="w-25 h-25 " src="assets/nodata.jpg">
        <h5>No Data Found</h5>
      </div>
      <table *ngIf="!IsLoading && dataCourier.data.length!==0" mat-table [dataSource]="dataCourier">

       
        <ng-container matColumnDef="No">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
        </ng-container>

       
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.courierName}} </td>
        </ng-container>

      
        <ng-container matColumnDef="RouteId">
          <th mat-header-cell *matHeaderCellDef> Route </th>
          <td mat-cell *matCellDef="let element"> {{element.routeName ? element.routeName:'-'}} </td>
        </ng-container>

       
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="openUpdate(element.courierId)" class="btn btn-primary rounded-0 w-100">Edit</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="openDeleteDialog(element.courierId)" class="btn btn-danger rounded-0 w-100">Delete</button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>

  </div>
</section> -->

<div class="mt-3" style="min-height: 50rem">
  <div *ngIf="IsLoading" class="d-flex justify-content-around align-items-center" style="height: 250px">
    <app-loader></app-loader>
  </div>

  <button (click)="openAddcourier()" *ngIf="!IsLoading" class="btn btn-primary">Create</button>
  <p-table *ngIf="!IsLoading" [value]="CourierData" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true"
    [rows]="5" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="Name" style="width: 20%">
          Name <p-sortIcon field="Name"></p-sortIcon>
        </th>
        <th pSortableColumn="Email" style="width: 20%">
          Email <p-sortIcon field="Email"></p-sortIcon>
        </th>
        <th pSortableColumn="PhoneNumber" style="width: 20%">
          Phone <p-sortIcon field="PhoneNumber"></p-sortIcon>
        </th>
        <th pSortableColumn="RouteName" style="width: 20%">
          Route Name <p-sortIcon field="RouteName"></p-sortIcon>
        </th>
        <th style="width: 2rem"></th>
        <th style="width: 2rem"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-columns="columns">
      <tr *ngIf="!IsLoading">
        <td>{{ item.courierName }}</td>
        <td>{{ item.email ? item.email : "-" }}</td>
        <td>{{ item.phoneNumber ? item.phoneNumber : "-" }}</td>
        <td>{{ item.routeName ? item.routeName : "-" }}</td>
        <td>
          <button (click)="openUpdate(item.courierId)"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td>
          <button  class="btn btn-danger d-flex align-items-center justify-content-center">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>