<div class="d-flex gap-3 ">
    <div
        style="width: 25px;height: 25px;display: flex;justify-content: center;align-items: center;border-radius: 50%;background-color: green;">
        <mat-icon class="text-white fw-bold d-flex align-items-center justify-content-center "
            style="font-size: 15px;">done</mat-icon>
    </div>
    <div class="">
        <div class="fs-6 text-dark ">{{data.message}}</div>
        <div class="text-secondary mt-1">
            {{data.text}}
        </div>
    </div>



</div>