<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <h3 class="card-title">Shipments</h3>
        <div class="buttons-container">
          <button mat-button mat-dialog-close class="search-button">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-button mat-dialog-close class="filter-button">
            <mat-icon>filter_alt</mat-icon>
          </button>
        </div>
      </div>
      <div class="shipments-container">
        <div class="card mb-3" *ngFor="let shipment of shipments" (click)="selectShipment(shipment)">
          <div class="card-body">
            <h5 class="card-title">
              <span class="shipment-info">
                <span class="shipment-name">{{ shipment.name }}</span> ({{ shipment.id }})
              </span>
              <button mat-button mat-dialog-close class="phone">
                <mat-icon>phone</mat-icon>
              </button>
              <span class="phone-number">{{ shipment.phone }}</span>
            </h5>

            <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="shipment-box submit-button" style="background-color: #FFC0CB;">
                <p>Price</p>
              </div>
              <div class="shipment-box submit-button" style="background-color: #ADD8E6;">
                <p>Weight</p>
              </div>
              <div class="courier-status">
                <span class="label">Courier #:</span>
                <div class="shipment-box submit-button" style="background-color: #98FB98;">
                  <p>--</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3 customer-details-container">
        <div class="card-body">
          <h3 class="card-title">Shipment Information</h3>
          <form [formGroup]="shipmentForm">
            <div class="form-group">
              <label for="customerName">Customer Name:</label>
              <input type="text" class="form-control" formControlName="customerName">
              <small *ngIf="shipmentForm.get('customerName').hasError('required') && (shipmentForm.get('customerName').touched || shipmentForm.get('customerName').dirty)" class="text-danger">
                Customer Name is required
              </small>
            </div>
            <div class="form-group">
              <label for="customerPhone">Customer Phone:</label>
              <input type="text" class="form-control" formControlName="customerPhone">
              <small *ngIf="shipmentForm.get('customerPhone').hasError('required') && (shipmentForm.get('customerPhone').touched || shipmentForm.get('customerPhone').dirty)" class="text-danger">
                Customer Phone is required
              </small>
            </div>
            <div class="form-group">
              <label for="shipmentId">Shipment ID:</label>
              <input type="text" class="form-control" formControlName="shipmentId">
              <small *ngIf="shipmentForm.get('shipmentId').hasError('required') && (shipmentForm.get('shipmentId').touched || shipmentForm.get('shipmentId').dirty)" class="text-danger">
                Shipment ID is required
              </small>
            </div>
            <div class="form-group">
              <label for="price">Price:</label>
              <input type="text" class="form-control" formControlName="price">
              <small *ngIf="shipmentForm.get('price').hasError('required') && (shipmentForm.get('price').touched || shipmentForm.get('price').dirty)" class="text-danger">
                Price is required
              </small>
            </div>
            <div class="form-group">
              <label for="weight">Weight:</label>
              <input type="text" class="form-control" formControlName="weight" >
              <small *ngIf="shipmentForm.get('weight').hasError('required') && (shipmentForm.get('weight').touched || shipmentForm.get('weight').dirty)" class="text-danger">
                Weight is required
              </small>
            </div>
            <div class="form-group">
              <label for="address">Address:</label>
              <textarea class="form-control" id="address" rows="3" formControlName="address"> </textarea>
              <small *ngIf="shipmentForm.get('address').hasError('required') && (shipmentForm.get('address').touched || shipmentForm.get('address').dirty)" class="text-danger">
                Address is required
              </small>
            </div>
            <div class="form-group">
              <label for="vendorId">Vendor ID:</label>
              <input type="text" class="form-control" formControlName="vendorId">
              <small *ngIf="shipmentForm.get('vendorId').hasError('required') && (shipmentForm.get('vendorId').touched || shipmentForm.get('vendorId').dirty)" class="text-danger">
                Vendor ID is required
              </small>
            </div>
            <button class="pushable">
              <span class="shadow"></span>
              <span class="edge"></span>
              <span class="front">Save</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>