
  <!-- <div class="d-flex justify-content-between text-white pb-2 p-4" style="background-color: #5236c2;" >
      <h3>Update Customer</h3>
      <button mat-button mat-dialog-close class="pl-2">
          <mat-icon class="text-white">close</mat-icon>
      </button>
  </div> -->
  
  <div class="" style="min-height: 10rem;">

    <div *ngIf="IsLoadingUpdate" class="d-flex justify-content-center align-items-center" style="min-height: 10rem;">
      <app-loader ></app-loader>
  </div>
  
  <form class="p-4" [formGroup]="UpdateCustomerForm" *ngIf="!IsLoadingUpdate" (ngSubmit)="UpdateCustomer()" id="scroll" style="height: 25rem;overflow: auto;">
  
  
      <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="VendorName">
        </div>
  
  
        <div class="mb-3">
          <label class="form-label">User Name</label>
          <input type="text" class="form-control" formControlName="UserName">
        </div>
  
  
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="VendorEmail">
      </div>


      <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input type="number" class="form-control" formControlName="PhoneNumber">
      </div>
  

      

      <div class="mb-3">
        <label class="form-label">Address</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="VendorAddress">
      </div>
  
      <div>
        <button type="submit" class="btn btn-primary w-100 ">
          <span class="spinner-border spinner-border-sm mx-2" role="status" aria-hidden="true" *ngIf="IsLoading"></span>
          <span>{{IsLoading? "Loading...": "Submit"}}</span>
        </button>
      </div>
  
    </form>

    
  </div>
